# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
build/

# Android
**/build/
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
ios/Flutter/Flutter.framework/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
env/
.venv/
.env

# IDE / Editors
.vscode/
.idea/
*.iml

# macOS / Windows
.DS_Store
Thumbs.db

# Misc
*.log
*.tmp
